[Desktop Entry]
Name=500px
Comment=Explore photos on 500px
Exec=ubuntu-app-launch --www=www $@
Icon=500px.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
