[Desktop Entry]
Name=500px
Comment=Explore photos on 500px
Exec=webapp-container $@ www/index.html
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Icon=./500px.png
